# Created by https://www.toptal.com/developers/gitignore/api/windows
# Edit at https://www.toptal.com/developers/gitignore?templates=windows

### Windows ###
## exclude .env, node.modules
.env
node_modules
# End of https://www.toptal.com/developers/gitignore/api/windows